html{
  height: 100vh;
}

body{
  height: 100vh;
}

.active{
  color: whitesmoke;
}

.title_bar{ 
  background: rgba(255, 81, 105, 0.99);
  /* display: flex; */
  /* justify-content: center; */
  /* position: sticky;
  top: 0; */
  z-index: 1000;
}

.logo_text{
  color: rgb(0, 0, 0);
}

.navbar_main{
  background: rgba(235, 77, 98, 0.913);
  transition: width 200ms ease;
  overflow: hidden;
}

.show_navbar{
  width: 5rem;
}

.hide_navbar{
  width: 0;
}

@media (max-width: 640px) {
  .show_navbar{
    width: auto;
  }
  .hide_navbar{
    width: auto;

  }
}

.footer_main{
  background: rgba(235, 77, 98, 0.913);
  transition: width 200ms ease;
  overflow: hidden;
}